*
/*, *::before,
*::after */ { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  border-color: transparent;
}

body { 
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} 

form {
  background-image: linear-gradient(to right, rgb(0, 54, 33), rgb(0, 255, 136));
  padding: 2em 1em;
  color: white;
  width: 30vw;
  max-width: 425px;
} 

h1 {
  font-size: 4vmin;
  color: rgb(0, 54, 33);
}

 .formSearch {
  font-size: 0.7rem;
  background: rgb(53, 53, 53);
  color: white;
  padding: 0.5em 1em;
  display: flex;
  justify-content: end;
  align-items: center;
}

 label {
  font-size: 1rem; 
  display: inline-block;
  width: 30%;
  margin: 0.2em 0;
}

 label[for="search"] {
  width: 12%;
}
 
.container {
  display: flex;
  margin: 0.2em 0;
}

 p {
  text-align: right;
}

.container--input {
  font-weight: lighter;
}

.txt,
.date,
select
{
  width: 65%;
}

.bottomBtns {
    display: flex;
    justify-content: end;
    gap: 1em;
    margin-top: 1em;
    margin-right: 15px;
}

input[type="file"] {
    border: none;
    /* border-color: transparent; */
}

input:focus {
    outline: none;
    font-style: normal;
    color: black;
}

.btn {
    font-size: 1rem;
    color: green;
    background-color: white;
    font-style: normal;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
}

.btn:focus {
    color: green;
}

a {
    text-decoration: none;
    color: green;
}
